<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>LEADERBOARD-NCC</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
	  <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" >



    <!-- Custom CSS -->
	<link rel="stylesheet" href="/static/codingPage.css">
    <style>

    .play
        {

            background-color: black;

            border-radius: 3px 4px 4px 3px;
            opacity: .6;
        }
		.perc{background: red; text-align: center;color:white;
		border-radius: 3px 4px 4px 3px;}

    </style>



</head>

<body>
    <nav class="navbar  navbar-light navtop py-0" >

		<div class="navbar-brand  ncc " style="padding: 6px 6px 2px 6px;">  <img src="NCC.png" width="50" height="45" alt=""> </div>
  		<div style="font-size: 30px;" >National  'C'omputing  Contest</div>
  		<a class="btn border border-success  " href="#" role="button">Code Editor</a>

		<a class="btn border border-success " href="#" role="button">Question Hub</a>

		<button class="btn mr-2 border border-success logout " type="button">Log Out <i class="fa fa-sign-out" style="font-size:20px;" aria-hidden="true" > </i></button>

</nav>
    <div class="container-fluid pt-5 " >
        <table class="table table-responsive table-striped container-fluid" style="height:70vh;">
            <thead>
                <tr>
                    <th class="px-4">SR.No</th>
                    <th class="px-5">USERNAME</th>
                    <th class="px-4">QUESTION 1</th>
                    <th class="px-4">QUESTION 2</th>
                    <th class="px-4">QUESTION 3</th>
                    <th class="px-4">QUESTION 4</th>
                    <th class="px-4">QUESTION 5</th>
                    <th 	class="px-4">QUESTION 6</th>
                    <th class="px-4">TOTAL</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>USERNAME</td>
                    <td><div class=" play ">
                        <div class="perc" style="width: 90%; ">90%</div></div></td>
                    <td><div class=" play ">
                        <div class="perc" style="width: 60%;">60%</div></div></td>
                    <td><div class="play ">
                        <div class="perc" style="width: 40%;">40%</div></div></td>
                    <td><div class=" play ">
                        <div class="perc" style="width: 70%; ">70%</div></div></td>
                    <td><div class=" play ">
                        <div class="perc" style="width: 30%;">30%</div></div></td>
                    <td><div class=" play ">
                        <div class="perc" style="width: 0%; ">0%</div></div></td>
                    <td>TOTAL</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>USERNAME</td>
                    <td><div class=" play ">
                        <div class="perc" style="width: 90%; ">90%</div></div></td>
                    <td><div class=" play ">
                        <div class="perc" style="width: 60%;">60%</div></div></td>
                    <td><div class="play ">
                        <div class="perc" style="width: 40%;">40%</div></div></td>
                    <td><div class=" play ">
                        <div class="perc" style="width: 70%; ">70%</div></div></td>
                    <td><div class=" play ">
                        <div class="perc" style="width: 30%;">30%</div></div></td>
                    <td><div class=" play ">
                        <div class="perc" style="width: 0%; ">0%</div></div></td>
                    <td>TOTAL</td>
                </tr>
				<tr>
                    <td>3</td>
                    <td>USERNAME</td>
                    <td><div class=" play ">
                        <div class="perc" style="width: 90%; ">90%</div></div></td>
                    <td><div class=" play ">
                        <div class="perc" style="width: 60%;">60%</div></div></td>
                    <td><div class="play ">
                        <div class="perc" style="width: 40%;">40%</div></div></td>
                    <td><div class=" play ">
                        <div class="perc" style="width: 70%; ">70%</div></div></td>
                    <td><div class=" play ">
                        <div class="perc" style="width: 30%;">30%</div></div></td>
                    <td><div class=" play ">
                        <div class="perc" style="width: 0%; ">0%</div></div></td>
                    <td>TOTAL</td>
                </tr>
				<tr>
                    <td>4</td>
                    <td>USERNAME</td>
                    <td><div class=" play ">
                        <div class="perc" style="width: 90%; ">90%</div></div></td>
                    <td><div class=" play ">
                        <div class="perc" style="width: 60%;">60%</div></div></td>
                    <td><div class="play ">
                        <div class="perc" style="width: 40%;">40%</div></div></td>
                    <td><div class=" play ">
                        <div class="perc" style="width: 70%; ">70%</div></div></td>
                    <td><div class=" play ">
                        <div class="perc" style="width: 30%;">30%</div></div></td>
                    <td><div class=" play ">
                        <div class="perc" style="width: 0%; ">0%</div></div></td>
                    <td>TOTAL</td>
                </tr>
				<tr>
                    <td>5</td>
                    <td>USERNAME</td>
                    <td><div class=" play ">
                        <div class="perc" style="width: 90%; ">90%</div></div></td>
                    <td><div class=" play ">
                        <div class="perc" style="width: 60%;">60%</div></div></td>
                    <td><div class="play ">
                        <div class="perc" style="width: 40%;">40%</div></div></td>
                    <td><div class=" play ">
                        <div class="perc" style="width: 70%; ">70%</div></div></td>
                    <td><div class=" play ">
                        <div class="perc" style="width: 30%;">30%</div></div></td>
                    <td><div class=" play ">
                        <div class="perc" style="width: 0%; ">0%</div></div></td>
                    <td>TOTAL</td>
                </tr>
				<tr>
                    <td>6</td>
                    <td>USERNAME</td>
                    <td><div class=" play ">
                        <div class="perc" style="width: 90%; ">90%</div></div></td>
                    <td><div class=" play ">
                        <div class="perc" style="width: 60%;">60%</div></div></td>
                    <td><div class="play ">
                        <div class="perc" style="width: 40%;">40%</div></div></td>
                    <td><div class=" play ">
                        <div class="perc" style="width: 70%; ">70%</div></div></td>
                    <td><div class=" play ">
                        <div class="perc" style="width: 30%;">30%</div></div></td>
                    <td><div class=" play ">
                        <div class="perc" style="width: 0%; ">0%</div></div></td>
                    <td>TOTAL</td>
                </tr>
				<tr>
                    <td>7</td>
                    <td>USERNAME</td>
                    <td><div class=" play ">
                        <div class="perc" style="width: 90%; ">90%</div></div></td>
                    <td><div class=" play ">
                        <div class="perc" style="width: 60%;">60%</div></div></td>
                    <td><div class="play ">
                        <div class="perc" style="width: 40%;">40%</div></div></td>
                    <td><div class=" play ">
                        <div class="perc" style="width: 70%; ">70%</div></div></td>
                    <td><div class=" play ">
                        <div class="perc" style="width: 30%;">30%</div></div></td>
                    <td><div class=" play ">
                        <div class="perc" style="width: 0%; ">0%</div></div></td>
                    <td>TOTAL</td>
                </tr>
				<tr>
                    <td>8</td>
                    <td>USERNAME</td>
                    <td><div class=" play ">
                        <div class="perc" style="width: 90%; ">90%</div></div></td>
                    <td><div class=" play ">
                        <div class="perc" style="width: 60%;">60%</div></div></td>
                    <td><div class="play ">
                        <div class="perc" style="width: 40%;">40%</div></div></td>
                    <td><div class=" play ">
                        <div class="perc" style="width: 70%; ">70%</div></div></td>
                    <td><div class=" play ">
                        <div class="perc" style="width: 30%;">30%</div></div></td>
                    <td><div class=" play ">
                        <div class="perc" style="width: 0%; ">0%</div></div></td>
                    <td>TOTAL</td>
                </tr>
				<tr>
                    <td>9</td>
                    <td>USERNAME</td>
                    <td><div class=" play ">
                        <div class="perc" style="width: 90%; ">90%</div></div></td>
                    <td><div class=" play ">
                        <div class="perc" style="width: 60%;">60%</div></div></td>
                    <td><div class="play ">
                        <div class="perc" style="width: 40%;">40%</div></div></td>
                    <td><div class=" play ">
                        <div class="perc" style="width: 70%; ">70%</div></div></td>
                    <td><div class=" play ">
                        <div class="perc" style="width: 30%;">30%</div></div></td>
                    <td><div class=" play ">
                        <div class="perc" style="width: 0%; ">0%</div></div></td>
                    <td>TOTAL</td>
                </tr>
				<tr>
                    <td>10</td>
                    <td>USERNAME</td>
                    <td><div class=" play ">
                        <div class="perc" style="width: 90%; ">90%</div></div></td>
                    <td><div class=" play ">
                        <div class="perc" style="width: 60%;">60%</div></div></td>
                    <td><div class="play ">
                        <div class="perc" style="width: 40%;">40%</div></div></td>
                    <td><div class=" play ">
                        <div class="perc" style="width: 70%; ">70%</div></div></td>
                    <td><div class=" play ">
                        <div class="perc" style="width: 30%;">30%</div></div></td>
                    <td><div class=" play ">
                        <div class="perc" style="width: 0%; ">0%</div></div></td>
                    <td>TOTAL</td>
                </tr>
				<tr>
                    <td>11</td>
                    <td>USERNAME</td>
                    <td><div class=" play ">
                        <div class="perc" style="width: 90%; ">90%</div></div></td>
                    <td><div class=" play ">
                        <div class="perc" style="width: 60%;">60%</div></div></td>
                    <td><div class="play ">
                        <div class="perc" style="width: 40%;">40%</div></div></td>
                    <td><div class=" play ">
                        <div class="perc" style="width: 70%; ">70%</div></div></td>
                    <td><div class=" play ">
                        <div class="perc" style="width: 30%;">30%</div></div></td>
                    <td><div class=" play ">
                        <div class="perc" style="width: 0%; ">0%</div></div></td>
                    <td>TOTAL</td>
                </tr>
				<tr>
                    <td>blank</td>
                    <td>USERNAME</td>
                    <td><div class=" play ">
                        <div class="perc" style="width: 90%; ">90%</div></div></td>
                    <td><div class=" play ">
                        <div class="perc" style="width: 60%;">60%</div></div></td>
                    <td><div class="play ">
                        <div class="perc" style="width: 40%;">40%</div></div></td>
                    <td><div class=" play ">
                        <div class="perc" style="width: 70%; ">70%</div></div></td>
                    <td><div class=" play ">
                        <div class="perc" style="width: 30%;">30%</div></div></td>
                    <td><div class=" play ">
                        <div class="perc" style="width: 0%; ">0%</div></div></td>
                    <td>TOTAL</td>
                </tr>
				<tr>
                    <td>blank</td>
                    <td>USERNAME</td>
                    <td><div class=" play ">
                        <div class="perc" style="width: 90%; ">90%</div></div></td>
                    <td><div class=" play ">
                        <div class="perc" style="width: 60%;">60%</div></div></td>
                    <td><div class="play ">
                        <div class="perc" style="width: 40%;">40%</div></div></td>
                    <td><div class=" play ">
                        <div class="perc" style="width: 70%; ">70%</div></div></td>
                    <td><div class=" play ">
                        <div class="perc" style="width: 30%;">30%</div></div></td>
                    <td><div class=" play ">
                        <div class="perc" style="width: 0%; ">0%</div></div></td>
                    <td>TOTAL</td>
                </tr>
				<tr >
                    <td>blank</td>
                    <td>USERNAME</td>
                    <td><div class=" play ">
                        <div class="perc" style="width: 90%; ">90%</div></div></td>
                    <td><div class=" play ">
                        <div class="perc" style="width: 60%;">60%</div></div></td>
                    <td><div class="play ">
                        <div class="perc" style="width: 40%;">40%</div></div></td>
                    <td><div class=" play ">
                        <div class="perc" style="width: 70%; ">70%</div></div></td>
                    <td><div class=" play ">
                        <div class="perc" style="width: 30%;">30%</div></div></td>
                    <td><div class=" play ">
                        <div class="perc" style="width: 0%; ">0%</div></div></td>
                    <td>TOTAL</td>
                </tr>
				
                
            </tbody>
        </table>
    </div>
    
  <nav class="navbar fixed-bottom  navbot ">
  <img src="pisb.png" width="150" height="40" alt=""> 
  <div class="col offset-md-3 " style="font-size:25px;color:black;">
    PICT IEEE STUDENT BRANCH
  </div> 
</nav>
    <!-- /.container -->

    <!-- jQuery Version 1.11.1 -->
    <script src="/static/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js3/bootstrap.min.js"></script>
	<script>
	$(document).keydown(function(event) {
						if (event.ctrlKey==true && (event.which == '61' || event.which == '107' || event.which == '173' || event.which == '109'  || event.which == '187'  || event.which == '189'  ) ) {
        event.preventDefault();
											}
    // 107 Num Key  +
    // 109 Num Key  -
    // 173 Min Key  hyphen/underscor Hey
    // 61 Plus key  +/= key
		});

		$(window).bind('mousewheel DOMMouseScroll', function (event) {
       if (event.ctrlKey == true) {
       event.preventDefault();
       }
		});</script>

</body>

</html>
